- content_for :title do
  App
  \|
  New enrollment

.card
  .card-header
    %h3
      .fa.fa-lock-open
      Buy course
      = link_to @course.title, course_path(@course)
  .card-body
    = form_tag course_enrollments_path(@course) do
      = submit_tag "Pay #{@course.price}", class: 'btn btn-lg btn-success'
  .card-footer
    = link_to 'Back to course', course_path(@course)